body {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url(/imgs/fondo1.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    color: #fffcf6;
    font-family: 'Montserrat';
}

body,
html {
    overflow: scroll;
    min-height: 145vh;
}


footer {
    padding-top: 25%;
    padding-bottom: 0;
    color: #FFFFFF;
    text-align: center;

}

.logo {
    top: 0px;
    left: 79px;
    width: 35%;
    height: 50%;
    border-radius: 0px;
}

.columna {
    flex-basis: 70%;

}

.columna_izq {
    flex-basis: 70%;
}

.columna_izq h1 {
    padding: 5%;
    font-size: 40px;
    font-weight: normal;
}

.fila {
    display: flex;
    height: 88%;
    align-items: center;
}

.about h2 {
    font-size: 18px;
    font-weight: bold;
}

.about h3 {
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 1px;
}

.about p {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 27px;
    box-sizing: border-box;
    font-weight: normal;
}

.education h3 {
    padding-top: 2%;
    font-size: 28px;
    font-weight: bold;
}

.education p {
    margin: 1%;
    font-size: 25px;

}

.logo {
    position: relative;
    top: 10%;
    width: 60%;
    height: 70%;
    border-radius: 0px;
}

.contacto p {
    font-size: 24px;
    position: relative;
    letter-spacing: 3px;
    top: 10%;
    left: 28%;
    width: 5%;
    height: 5%;
}

.imgs {
    position: relative;
    top: 10%;
    left: 23%;
    padding: 2%;
    margin: 0;
    width: 5%;
    height: 5%;
    border-radius: 0px;
    cursor: default;
}

.imgs:hover {
    transform: translateY(-15px);
}

.btnCurriculum {
    position: relative;
    top: 100px;
    left: 70%;
    display: flex;
    justify-content: center;
}

/*Boton*/

.btnCurriculum {
    height: 52px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 28px;
    color: #171A1FFF;
    background: #F3F4F6FF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover */
.btnCurriculum:hover {
    color: #fff;
    background: #171A1FFF;
}

/* Pressed */
.btnCurriculum:hover:active {
    color: #fff;
    background: #171A1FFF;
}

/*Disabled*/
.btnCurriculum:disabled {
    opacity: 0.6;
}

h5 {
    position: relative;
    top: 190px;
    margin: 3%;
    left: 43%;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: normal;
}


.cuadros {
    position: relative;
    width: 100%;
    height: 100%;
    top: 100px;
    display: flex;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;

}

.cuadro_1 {
    background-image: url(/imgs/fondo3.png);
    width: 30%;
    left: 10%;
    height: 30%;
    cursor: default;
}

.cuadro_2 {
    width: 35%;
    height: 30%;
    left: 25%;
    background-image: url(/imgs/fondo2.png);
    cursor: default;
}

.cuadros:hover {
    transform: translateY(-15px);
}